.tile_container {
    -fx-padding: 10px;
}

.tile {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(66, 68, 90, 0.3), 10, 0, 0, 0);
}
