.left_panel{
    -fx-background-color: linear-gradient(from 0% 100% to 100% 0%, #6A1B9A, #3D5AFE);
}

.login_logo_text{
    -fx-text-fill:white;
    -fx-font-size: 28px;
    -fx-letter-spacing: 2px;
}

.image_container{
    -fx-max-width: 10px;
}

.login_bottom_text{
    -fx-text-fill:white;
}
.welcome_bottom_text{
    -fx-text-fill:white;
    -fx-font-size: 27px;
}

.basic_button{
    -fx-background-color: #3D5AFE;
    -fx-text-fill: white;
    -fx-padding: 8px 30px;
}

.non_fill_button{
    -fx-background-color: none;
    -fx-text-fill:  #3D5AFE;
    -fx-padding: 8px 30px;
}